@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

//Variaveis de Cores
$colorAzul:#205691;
$colorAzulClaro:#00AAFF;
$colorBranco:#FFFFFF;
$colorPreta:#000000;
$colorVerdeEscura:#278733;
$colorVerdeClaro:#D4E7D6;

//Variaveis de Fonte
$fontePrincipal:'Source Sans 3', sans-serif;
$fonteSecundaria:'Inter', sans-serif;
$fonteOutras:'Alatsi', sans-serif;