@use'../../styles/variaveis' as*;

.SecaoInicio{
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 0.7rem;

  .TextosIniciais{
    display: flex;
    flex-direction: column;
    padding: 0 0.8rem;

    h1{
      text-align: center;
      font-family: $fontePrincipal;
      font-size: 2.5rem;
      color: $colorAzul;

    }

    p{
      text-align: center;
      font-family: $fonteSecundaria;
      font-size: 0.8rem;
      margin: 1.5rem 0 1.8rem 0;
      color: $colorAzul;

    }
  }

  img{
    border-radius: 100%;
    width: 60%;
  }

}


// Responsividade Tablet

@media(min-width:501px) and (max-width: 900px){
        .SecaoInicio{
            height: 85vh;
            background-color: aquamarine;
            padding: 0 2.1rem;

            .TextosIniciais{
              display: flex;
              flex-direction: column;

              h1{
                font-size: 5.5rem;

              }

              p{
                font-size: 1.5rem;
                margin: 1.5rem 0 2.5rem 0;

              }
            }

            img{
              width: 60%;
            }

        }
}


// Responsividade Laptop/Notebook

@media(min-width:901px) and (max-width: 15000px){
          .SecaoInicio{
            height: 100vh;
            flex-direction: row;
            padding: 0 2.1rem;

            .TextosIniciais{
              display: flex;
              flex-direction: column;
              width: 60%;

              h1{
                font-size: 5.3rem;
                text-align: left;

              }

              p{
                font-size: 1.6rem;
                margin: 1.5rem 0 2.5rem 0;
                text-align: left;

              }
            }

            img{
              width: 39%;
              border-radius: 0%;
            }

        }
}


// Responsividade Desktop

@media(min-width:15001px) and (max-width: 18000px){
  /* Estilos para desktops grandes */
}


// Responsividade Tela Ampla

@media(min-width:18001px){
  /* Estilos para desktops grandes */
}