@import '../../styles/variaveis.scss';

.NavBarHeader {
  background-color: $colorAzul;
  display: flex;
  align-items: center;
  height: 10vh;
  padding: 0 4rem;

  /* LOGO */
    .Logo, img {
    height: 2.5rem;

        &:hover{
          transform: scale(1.1);
        }
    }
}



/* MENU */
.ListaNavBar {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin: 0 auto;
  padding: 0;

    .ListaItemNavBar {
        color: $colorBranco;
        font-family: $fonteSecundaria;
        font-size: 1.3rem;
        margin: 0 1rem;
        text-decoration: none;
        transition: opacity 0.2s ease;

            &:hover {
                opacity: 0.8;
                color: $colorAzulClaro;
            }
    }

}

/* PERFIL */
.Perfil {
  display: flex;
  align-items: center;
  z-index: 9999 !important;

  .ImgPerfil {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: 0.2rem solid $colorAzulClaro;
    object-fit: cover;
    
      &:hover{
        box-shadow: 0.1rem 0.1rem 0.5rem #000000;
        transform: scale(1.1);
    
      }
  }
}

