
@import '../../styles/variaveis.scss';

.FooterSection{
    background-color: $colorAzul;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    padding: 0 1.5rem;

    .LogoConnect{
        display: flex;
        align-items: center;
        width: 10rem;
        font-size: 1.5rem;
        font-family: $fonteSecundaria;
        font-weight: 400;
        font-style: normal;
        color: $colorBranco;

        img{
          height: 3.13rem;
          margin-right: 0.5rem;
        }

        
    }

    .DireitosReservados{
        width: 50rem;
        padding: 0 13rem;
        font-size: 0.8rem;
        font-family: $fonteSecundaria;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        color: $colorBranco;
    }

  
}

.RedesSociais{
    width: 2rem;
    margin: 0 0.5em;

    &:hover{
        
        transform: scale(1.2);
    }

}


// Responsividade Tablet

@media(min-width:501px) and (max-width: 900px){
  /* Estilos para desktops grandes */
}


// Responsividade Laptop/Notebook

@media(min-width:901px) and (max-width: 15000px){
  /* Estilos para desktops grandes */
}


// Responsividade Desktop

@media(min-width:15001px) and (max-width: 18000px){
  /* Estilos para desktops grandes */
}


// Responsividade Tela Ampla

@media(min-width:18001px){
  /* Estilos para desktops grandes */
}